html {
  height: 100%;
}

body {
  background-color: gray;
  width: 1000px;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: black;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 20px ;
  display: block;
  width: 720px;
    clear: both;
  }
h1 {
  text-align: center;
}

img {
  text-align: center;
  max-width: 50%
}

nav {
      float: left;
      text-align: center;
      }

nav ul {
  position: relative;
  left: 155px;
  text-align: left;
  float: left;
  border-bottom: ;
  list-style-type: none;
}

nav li {
  display: inline;
  list-style-type:  none;
  text-align: left;
  float: left;
  /*display: block;*/
  }

nav li a {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  padding: 8px 18px 8px 18px;
  vertical-align: middle;
  text-align: center;
}

a {
  text-align: center;
  color: black ;
}

section {
  width: 73%;
  display: inline-block;
  float: left;
}

aside {
  width: 17%;
  display: inline-block;
    min-height: 100%;
}

aside ul {
  list-style-type: none;
}

footer {
  background-color: black;
  color: white;
  width: 720px;
    clear: both;
  display: block;
}
